@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,700');


.corps
{
	display: flex;
	height: 700px;
	background-color: initial;
	margin-top: 0px;
	margin-left: 90px;
}
.left
{
	flex:0.25;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 20px;
}

.right
{
	flex: 0.7;
	border:1px solid;
	border-radius: 5px;
		margin-top: 20px;
}

.container {

		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;

		width: 100%;
		padding-top: 3%; padding-bottom: 2%;
}
.button
{
	display: flex;
	cursor: pointer;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	cursor: pointer;
}

/*button{

	background-color: #37474F;
	border: none
}*/

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4.5px;
    background-color: white;
    margin-top: 3px; margin-bottom: 3px;
    transition: 0.4s;
		margin-right: 20px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg) translate(-8px, -8px);
}

.sidebar{
	display: flex;
	flex-direction: column;
	position: absolute;
	left: -200px;
	width: 275px;
	height: 700px;
	background-color: #37474F;
	border-radius: 0px 0px 5px 0px;
	transition: transform 0.3s;
}

.yes .sidebar{
		transform: translateX(200px);
}
.no .sidebar{
		transform: translateX(0px);
}

.li{
	display: flex;
}

.list{

	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
	border-radius: 2px;
	height: 5px;
}

.section
{

	background-color: white;
	border: 1px solid;
	border-radius: 5px;
	border-color: black;
	width: 60%;
	font-family:  'Lato';
	font-size: 20px;
	font-weight: 400;
}
/*.div1
{
	width: 200px;height: 50px;
	position: relative;
	font-size: 22px;font-weight: 500;font-family: 'Roboto';
	margin: 45px 260px 40px 70px;

}
.div2
{
	width: 200px;height: 50px;
	postion: relative;
	font-size: 22px;font-weight: 500;font-family: 'Roboto';
	margin: 45px 0px 40px 0px;
}*/
