.top
{
	position: relative;
}
.corps
{
	display: flex;
	margin: 0 auto;
	width: auto; height: auto;
	background-color: initial;
	border-color: yellow;
	border:3px;
	
}
.left
{
	width: 30%;height: auto;
	margin-top: 15px;
}
.right
{
	width: 65%; height: auto;
	background-color: initial;
	border:1px solid;
	margin-top: 40px;

}
.li
{
	width: 80%; height: 15%;
	text-align: center;
	line-height: 60px;
	font-size: 22px;
	list-style: none;

}
.section
{
	width: 60%;height: 6%;
	background-color: white;
	border: 2px solid;
	border-color: black;
    position: relative; left: 20%;
}
.div1
{
	width: 200px;height: 50px;
	position: relative;
	font-size: 22px;font-weight: 500;font-family: 'Roboto';
	margin: 45px 260px 40px 70px;

}
.div2
{
	width: 200px;height: 50px;
	postion: relative;
	font-size: 22px;font-weight: 500;font-family: 'Roboto';
	margin: 45px 0px 40px 0px;
}