@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,700');

html
{
    background-image: url(../Images/96f.jpg);
}

#erreur, .entete a{
  font-size: 100%;
  color:darkblue;
}

.entete
{
    background: #7E57C2;
    padding: 30px;
    font-size: 100%;
    font-weight: 300;
    text-align: center ;
  /*  text-transform: uppercase;*/
    color: #fff;
    margin: -16px 0px 40px -30px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.entete #titre{
  font: 95% Arial, Helvetica, sans-serif;
  font-size: 130%;
}

#inscrire{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 80%;
    padding: %;
    background: #7E57C2;
    border-bottom: 2px solid #7E57C2;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    font-size: 110%;

}

.section
{

    font: 95% Arial, Helvetica, sans-serif;
    width: 45%;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 30px 18px 30px;
    background-color: rgba(255,255,255 ,0.9);
    border-radius: 5px;
}

.formulaire
{

    width: 100%;
}


input
{
    -webkit-transition: all 0.30s ease-in-out;
    outline: none;
    -webkit-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 3%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 90% Arial, Helvetica, sans-serif;
  }

input:focus
{
    box-shadow: 0 0 5px #7E57C2;
    padding: 3%;
    border: 1px solid #7E57C2;
}

#inscrire{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 4%;
    background: #7E57C2;
    border-bottom: 2px solid #7E57C2;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    font-size: 110%;
    width: 100%;
  /*  text-align: center;*/

}

#inscrire:hover{
  background-color: #9575CD;
}
