html
{
    background-image: url(../Images/96f.jpg);
}

#oubli
{
    margin-left: 55%;
}

#inscription
{
    margin-left: 75%;
}


section

{
    margin-top:4.3%;margin-bottom: 4.4%;
    margin-left: auto;margin-right: auto;
    width: 350px ;
    height: 340px ;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px; /* Marge intérieure de 15px */
    border:1px solid black;
    border-radius: 10px;


}

label
{
  /*  display: block;  La balise devient de type block. */
  	width: 140px;
    margin-left: 20px;
    float: left;
}


#mail, #password

{
    border-color: white;
    width: 170px;
    color: #2F4F4F;
}


#acceder
{
  height: 30px;
  width: 250px;
  border-radius: 15px;
  background-color:#5F9EA0;

}
#titre
{
    text-align: center ;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;

}
