/* CSS */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,700');

html{
    background-image: url(../Images/96f.jpg);
}
.scrollToTop{
  position: fixed;
  font-size: 4em;
  right: 40px;
  bottom: 10%;
  color: #446cb3;
  transition: all 0.5s ease;
}
.scrollToTop:hover{
  transform: scale(1.1,1.1);
  transition: all 0.5s ease;
}
.s1{

}
.titre{
    margin-left: auto;margin-top: 3%;margin-bottom: 3%;margin-right: auto;
    background-color: rgba(255,255,255 ,0.7);
    width: 30%;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto';font-weight: 700;
    border-radius: 3px;
  }
.p{
    margin-left: auto;margin-top: 3%;margin-bottom: 3%;margin-right: auto;
    padding:20px;
    width: 60%;
    background-color: rgba(120, 120, 120, 0.75);
    color: white;
    border-radius: 10px ;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}
.s2{

}
.picandp{
  left: 10%;
}
.imgg img{
  width: 40%; height: 40%;
  display: block;
  margin: auto;
}


.s4 .ca-container{
	position:relative;
	margin:5px auto 20px auto;
	width:990px;height:450px;
}
.s4 .ca-wrapper{
	width:100%;height:90%;
	position:relative;
  overflow:hidden;
}
.s4 .ca-item{
	position:relative;
	float:left;
	width:330px;height:100%;
	text-align:center;
}
.s4 .ca-item-main{
	padding:15px;
	position:absolute;
	top:3%;left:2%;right:2%;
	background:#fff;
	overflow:hidden;
	box-shadow:10px 10px 30px rgba(0,0,0,0.2);
}
.s4 .ca-icon{
	width:220px;height:250px;
	/*position:relative;*/
	margin:0 auto;
	background:transparent url(../Images/bruno.jpg) no-repeat center center;
}
.s4 .ca-item-2 .ca-icon{
	background-image:url(../Images/yuqing.jpg) ;
}
.s4 .ca-item-3 .ca-icon{
	background-image:url(../Images/guillaume.jpg);
}
.s4 .ca-item-4 .ca-icon{
	background-image:url(../Images/morgane.jpg);
}
.s4 .ca-item-5 .ca-icon{
	background-image:url(../Images/darlene.jpg);
}
.s4 .ca-item-6 .ca-icon{
	background-image:url(../Images/tibo.jpg);
}
.s4 .ca-item h3{
	font-family: 'Coustard'; font-style: oblique;font-size:25px;
	color:#622931e6;
  margin-bottom: 5%;
	height:45px;
	text-align:center;
}

/*definir les deux flèches*/
.s4 .ca-nav span{
	width:25px;height:38px;
	background:transparent url(../Images/arrows.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-19px;
	left:-40px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.s4 .ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;right:-40px;
}


.s3 .ca-container1{
	position:relative;
	margin:5px auto 20px auto;
	width:990px;height:500px;
}
.s3 .ca-wrapper1{
	width:105%;height:200%;
	position:relative;
  overflow:hidden;
  margin-left: -35px;
}
.s3 .ca-item1{
	position:relative;
	float:left;
	width:350px;height:500px;
	text-align:center;
}
.s3 .ca-item1-main1{
	padding:15px;
	position:absolute;
	top:3%;left:2%;right:2%;
	background:#fff;
	overflow:hidden;
	box-shadow:10px 10px 30px rgba(0,0,0,0.2);
}
.s3 .ca-icon1{
	width:220px;height:250px;
	/*position:relative;*/
	margin:0 auto;
	background:transparent url(../Images/temperature.png) no-repeat center center;
}
.s3 .ca-item1-21 .ca-icon1{
	background-image:url(../Images/presence.jpg) ;
}
.s3 .ca-item1-31 .ca-icon1{
	background-image:url(../Images/thermostat.png);
}
.s3 .ca-item1-41 .ca-icon1{
	background-image:url(../Images/fumee.png);
}
.s3 .ca-item1-51 .ca-icon1{
	background-image:url(../Images/camera.jpg);
}
.s3 .ca-item1-61 .ca-icon1{
	background-image:url(../Images/contact.jpg);
}
.s3 .ca-item1-71 .ca-icon1{
	background-image:url(../Images/luminosite.jpg);
}
.s3 .ca-item1-81 .ca-icon1{
	background-image:url(../Images/volet.jpg);
}
.s3 .ca-item1-91 .ca-icon1{
	background-image:url(../Images/consommation.jpg);
}
.s3 .ca-item1 h3{
	font-family: 'Coustard'; font-style: oblique;font-size:25px;
	color:#622931e6;
  margin-bottom: 5%;
	height:45px;
	text-align:center;
}

/*definir les deux flèches*/
.s3 .ca-nav1 span{
	width:25px;height:38px;
	background:transparent url(../Images/arrows.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-19px;
	left:-75px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.s3 .ca-nav1 span.ca-nav-next{
	background-position:top right;
	left:auto;right:-60px;
}
