@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,700');

html
{
    background-image: url(../Images/paysage.jpg);
}

.titre
{
    margin-left: 10%;
    background-color: rgba(255,255,255 ,0.7);
    width: 25%;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    border-radius: 3px;
    margin-top: 8%;
    margin-bottom: 3%;
}

#corps{
  flex-direction: column;
}

.section
{
    background-color: rgba(255, 255, 255, 0.9);
    width: 50% ;
    margin-top:5%;margin-bottom: 3%;
    margin-left: 10%;
    border-radius: 5px ;
    border: 1px solid black ;
    padding-top: 50px;
}
