.corps
{
	display: flex;
	margin: 0 auto;
	width: auto; height: auto;
	background-color: initial;
	border-color: yellow;
	border:3px;
	
}
.left
{

	width: 28%;
	background-color: initial;
	height: auto;
	margin-top: 15px;
}
.right
{

	width: 63%;
	height: 700px;
	background-color: initial;
	border:1px solid;
	margin-top: 20px;

}
.li
{

	width: 80%;
	height: 15%;
	text-align: center;
	line-height: 60px;
	font-size: 22px;
	list-style: none;

}
.section
{

	width: 70%;
	background-color: white;
	height: 8%;
	border: 2px solid;
	border-color: black;
}
