@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,700');

html, body
{
	min-height: 100%;

    font-family: 'Lato';
}

body{
	background-image: url(93.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}

a{
text-align: center; 
text-decoration: none;
color: black;
font-size: 20px;

}

.image
{

}

div
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
